// Colors
$purple-300: #c084fc;
$purple-400: #a855f7;
$purple-600: #7c3aed;
$purple-700: #6d28d9;

$text-color: #f1f1f1;
$background-color: #0f0f0f;

$primary: #7c3aed;
$primary-hover: #6d28d9;
$black-bg: #0f0f0f;
$gradient-purple: linear-gradient(to right, #7c3aed, #a855f7);
$radius: 0.75rem;
$text-light: #e2e8f0;


